# Directories
.vs/
bin/
bin-int/


# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Exclude
!vendor/bin

# UI configs
*.ini

# Copilot Assist
copilot*.md

.omo/
superpowers/

# CUDA Build Artifacts
*.obj
*.exp
*.lib
*.pdb
*.ilk
*.iobj
*.ipdb
*.ptx
*.cubin
*.fatbin
nvcc_temp/

*.bin
*.exe